@media screen and (max-width: 992px) {
    .navbar-left{
        grid-column: 1/ span 12;
    }
    .navbar-right{
        grid-column: 1/ span 12;
        justify-content: center;
    }
    .author-left{
        grid-column: 1/ span 12;
        
    }
    .author-avata{
        margin: 0 auto;
        margin-top: 2rem;
    }
    .author-name{
        text-align: center;
    }
    .author-email{
        text-align: center;
    }
    .author-social{
        text-align: center;
    }
    .author-right{
        grid-column: 1/ span 12;
        
    }
    .img>img{
        width: 230px;
        height: 230px;
    }
}
@media screen and (max-width: 768px) {
    .content{
        width: 100%;
    }
    .navbar{
        /* display: grid;
        grid-column: ; */
    }
    .navbar-left{
        grid-column: 1/ span 12;
    }
    .navbar-right{
        grid-column: 1/ span 12;
        justify-content: center;
    }
    .author-left{
        grid-column: 1/ span 12;
        
    }
    .author-right{
        grid-column: 1/ span 12;
        
    }
    .author-avata{
        margin: 0 auto;
        margin-top: 2rem;
    }
    .author-name{
        text-align: center;
    }
    .author-email{
        text-align: center;
    }
    .author-social{
        text-align: center;
    }
    .author-right{
        grid-column: 1/ span 12;
        
    }
    .img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .img:first-child{
        grid-column: 1 / 2;
        
    }
    .img:nth-child(2){
        grid-column: 2 / 4;
    }
    .img:nth-child(3){
        grid-column: 1 / 2;
    }
    .img:nth-child(4){
        grid-column: 2 / 4;
    }
    .img:nth-child(5){
        grid-column: 1/ 2;
    }
    .img:last-child{
        grid-column: 2 / 4;
        
    }
    .img>img{
        
        width: 230px;
        height: 230px;
    }
    .portfolio-menu{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 576px){
    .img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .img:first-child{
        grid-column: 1 / 2;
        
    }
    .img:nth-child(2){
        grid-column: 2 / 4;
    }
    .img:nth-child(3){
        grid-column: 1 / 2;
    }
    .img:nth-child(4){
        grid-column: 2 / 4;
    }
    .img:nth-child(5){
        grid-column: 1/ 2;
    }
    .img:last-child{
        grid-column: 2 / 4;
        
    }
    .img>img{
        
        width: 150px;
        height: 150px;
    }
}

    