
@media screen and (max-width: 1199px){
    
}
@media screen and (max-width: 992px) {
    .navbar-right>p{
        margin-left: 60px;
    }
    .navbar-left{
        grid-column: 1/ span 12;
    }
    .navbar-right{
        grid-column: 1/ span 12;
        justify-content: center;
    }
    .author-left{
        grid-column: 1/ span 12;
        
    }
    .author-right{
        grid-column: 1/ span 12;
        
    }
    .author-avata{
        margin: 0 auto;
        margin-top: 2rem;
    }
    .author-name{
        text-align: center;
    }
    .author-email{
        text-align: center;
    }
    .author-social{
        text-align: center;
    }
    .img>img{
        width: 230px;
        height: 230px;
    }
}
@media screen and (max-width: 768px) {
   .navbar-right>p{
       margin-left: 60px;
   }
    .navbar-left{
        grid-column: 1/ span 12;
    }
    .navbar-right{
        grid-column: 1/ span 12;
        justify-content: center;
    }
    .author-left{
        grid-column: 1/ span 12;
        
    }
    .author-right{
        grid-column: 1/ span 12;
        
    }
    .author-avata{
        margin: 0 auto;
        margin-top: 2rem;
    }
    .author-name{
        text-align: center;
    }
    .author-email{
        text-align: center;
    }
    .author-social{
        text-align: center;
    }
    .author-right{
        grid-column: 1/ span 12;
        
    }
    
    .img{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .img:first-child{
        grid-column: 1 / 2;
        
    }
    .img:nth-child(2){
        grid-column: 2 / 3;
    }
    .img:nth-child(3){
        grid-column: 1 / 2;
    }
    .img:nth-child(4){
        grid-column: 2 / 3;
    }
    .img:nth-child(5){
        grid-column: 1/ 2;
    }
    .img:last-child{
        grid-column: 2 / 3;
        
    }
    .img>img{
        
        width: 230px;
        height: 230px;
    }
    .portfolio-menu{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 576px){
    .chat-text{
        font-size: 8px;
    }
    .phone-text{
        font-size: 8px;
    }
    .junior-text>h4{
        font-size: 16px;
    }
    .number-3>h3{
        font-size: 32px;
    }
    .number-3-text{
        font-size: 10px;
    }
    .number-311{
        margin-top: -40px;
        
    }
    .number-311>h3{
        font-size: 32px;
    }
    .number-311-text{
        font-size: 10px;
    }
    .number-2{
        margin-top: -40px;
    }
    .number-2>h3{
        font-size: 32px;
        margin-left: -4.5rem;
    }
    .number-2-text{
        font-size: 10px;
    }
    .master{
        margin-top: -10px;
    }
    .master h4{
        font-size: 10px;
    }
    .master h5{
        font-size: 10px;
    }
    .master p{
        font-size: 10px;
        letter-spacing: 0;
    }
    .computer{
        margin-top: -4px;
    }
    .GRADUATED {
        margin-top: -2px;
    }
    .left-border-3{
        height: 40px;
    }
    .img{
        display: grid;
        grid-template-columns: 1fr ;
        
    }
    .img:first-child{
        grid-column: 1 / 2;
        
    }
    .img:nth-child(2){
        grid-column: 1 / 4;
    }
    .img:nth-child(3){
        grid-column: 1 / 2;
    }
    .img:nth-child(4){
        grid-column: 1 / 4;
    }
    .img:nth-child(5){
        grid-column: 1/ 2;
    }
    .img:last-child{
        grid-column: 1 / 2;
        
    }
    .img>img{
        width: 150px;
        height: 150px;
    }
}

    
