:root{
    --text-color: #9A9FAA;
    --purple-color: #6E14C9;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 62.5%;
    line-height: 1.6;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
}
/* navbar */
.navbar{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
}
.navbar-left{
    grid-column: 1 / span 5;
    background: #6E14C9;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phone{
    display: flex;
    align-items: center;
}
.phone-text{
    margin-left: 15px;
    color: white;
    margin-top: -14px;
    letter-spacing: 1px;
    font-size: 12px;
}
.phone-text>p{
    margin-bottom: 5px;
}
.chat{
    display: flex;
    color: white;
    align-items: center;
}
.chat-text{
    margin-left: 15px;
    letter-spacing: 1px;
    font-size: 12px;
    margin-top: -16px;
}
.chat-text>p{
    margin-bottom: 5px;
}
.navbar-right{
    grid-column: 6/ span 12;
    background: #4D1684;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-right>p{
    color: white;
    background: #6E14C9;
    font-size: 14px;
    margin-right: 2rem;
    padding: 14px 34px;
    border-radius: 3px;

}
/* author */
.content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}
/* ---------author-left------------- */
.border-top{
    background: #6E14C9;
    width: 30px;
    height: 8px;
    border-radius: 5px;
}
h4{
    font-size: 20px;
}
.author-left{
    grid-column: 1/span 5;
    margin-left: 2rem;
    
    
}
.author-avata{
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.author-name>h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0;
}
.author-name>span{
    font-size: 16px;
    color: var(--text-color);
}
.author-email{
    font-size: 12px;
    margin-top: 2rem;
}
.author-social{
    margin-top: 2rem;
    letter-spacing: 0.8rem;
}
/* ---------------about-me------------------ */
.about-me{
    margin-top: 4rem;
}
.about-me-text>h2{
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.about-me-text>span{
    font-size: 14px;
    color: var(--text-color);
}
.about-me-text>p{
    margin-top: 3rem;
    font-size: 15px;
    color: var(--text-color);
    width: 80%;
    text-align: justify;
}
/* ---------------number------------------ */
.about-me-number{
    display: flex;
    justify-content: space-evenly;
    margin-left: -2rem;
    width: 90%;
}
.number-left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.number-3{
    display: flex;
    align-items: center;
}
.number-3>h3{
    font-size: 3.5rem;
    color: #CBD1DE;
    
}
.number-3-text{
    font-weight: bold;
    font-size: 16px;
    margin-top: -16px;
    margin-left: 15px;
}
.number-3-text>p{
    margin-bottom: 1px;
}
.number-311{
    display: flex;
    align-items: center;
    margin-top: -6rem;
}
.number-311>h3{
    font-size: 3.5rem;
    color: #CBD1DE;
}
.number-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.number-2{
    display: flex;
    align-items: center;
    margin-top: -6rem;
    
}
.number-2>h3{
    font-size: 3.5rem;
    color: #CBD1DE;
    margin-left: -7.5rem;
}
.number-2-text>p{
    margin-bottom: 1px;
}
.number-2-text{
    font-weight: bold;
    font-size: 16px;
    margin-top: -16px;
    margin-left: 15px;
}
/* technical-skill */
.technical-text>h2{
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.technical-text>span{
    font-size: 14px;
    color: var(--text-color);
}
.technical-skill{
    text-align: justify;
    width: 80%;
}
.html-css-text>h4{
    font-size: 20px;
    margin-top: 4rem;
    margin-bottom: 0;
}
.html-css-text>span{
    font-size: 12px;
    letter-spacing: 3px;
    background: #9A9FBD;
    border-radius: 10px;
    color: white;
    padding: 4px 16px;
}
.html-css-text>p{
    font-size: 15px;
    color: var(--text-color);
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.html-skill{
    width: 100%;
    background-color: #EBEBEB;
    height: 5px;
    border-radius: 3px;
}
.html-purple{
    width: 90%;
    background: var(--purple-color);
    height: 5px;
    border-radius: 3px;
    animation: html;
    animation-duration: 2s;
    
}
@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
.html-text{
    font-size: 15px;
    
}
/* css */
.css-purple{
    width: 85%;
    background: var(--purple-color);
    height: 5px;
    border-radius: 3px;
    animation: css;
    animation-duration: 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
.css-text{
    font-size: 15px;
    margin-top: -3px;
}
/* photoshop */
.photoshop-purple{
    width: 95%;
    background: var(--purple-color);
    height: 5px;
    border-radius: 3px;
    animation: photoshop;
    animation-duration: 2s;
}
@keyframes photoshop {
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
.ILLUSTRATOR-purple{
    width: 85%;
    background: var(--purple-color);
    height: 5px;
    border-radius: 3px;
    animation: ILLUSTRATOR;
    animation-duration: 2s;
}
@keyframes ILLUSTRATOR {
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}

 /* ---------author-right------------- */ 
.author-right{
    background: #F8F9FB;
    grid-column: 6/ span 12;
}
.work-experience{
    margin-top: 5rem;
    margin-left: 3rem;
    text-align: justify;
    width: 80%;
}
.work-experience-text{
    margin-bottom: 4rem;
}
.work-experience-text>h2{
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.work-experience-text>span{
    font-size: 14px;
    color: var(--text-color);
}
/* junior */
.junior-text>h4{
    margin-bottom: 1px;
}
.junior-text>h5{
    color: var(--purple-color);
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: -8px;
}
.junior-text>a{
    letter-spacing: 2px;
    font-size: 12px;
    color: var(--text-color);
}
.junior-text>p{
    font-size: 15px;
    color: var(--text-color);
    margin-top: 3rem;
}
ul{
    list-style: none;
    line-height: 2.6;
    color: var(--text-color);
    font-size: 14px;
    margin-top: 3rem;
}
li::before{
    content: "";
    display: inline-block;
    border: 2px solid #6e14c9;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: -40px;
    margin-right: 10px;
}
/* --------education----------- */
.education{
    margin-top: 5rem;
    margin-left: 3rem;
    text-align: justify;
    width: 80%;
}
.education-text{
    margin-bottom: 4rem;
}
.education-text>h2{
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.education-text>span{
    font-size: 14px;
    color: var(--text-color);
}
.education-container{
    display: flex;
   
}
.left-border{
    background: var(--purple-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
}
.education-left{
    display: flex;
    flex-direction: column;
    
}
.left-border{
    margin-left: -11px;
}
.left-border>p{
    font-size: 14px;
    color: white;
    text-align: center;
    margin-top: 1px;
    margin-left: -1px;
    
}
.left-border-2{
    border: 1px solid var(--purple-color);
    width: 2px;
    height: 130px;
    border-radius: 2px;
    
}
.left-border-3{
    border: 1px solid var(--purple-color);
    width: 2px;
    height: 60px;
    border-radius: 2px;
}

.master{
    margin-bottom: 95px;
    margin-top: -33px;
    margin-left: 20px;
    
}
.master>h4{
    margin-bottom: 1px;
}
.master>h5{
    color: var(--purple-color);
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 0px;
}
.master>p{
    letter-spacing: 2px;
    font-size: 12px;
    color: var(--text-color);
    
}
/*  */
.portfolio{
    margin-top: 2rem;
    margin-left: 3rem;
    text-align: justify;
    width: 70%;
    /* background: turquoise; */
}
.portfolio-text{
    margin-bottom: 2rem;
}
.portfolio-text>h2{
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.portfolio-text>span{
    font-size: 14px;
    color: var(--text-color);
}
.portfolio-menu{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 2rem;
    
}
.img:first-child{
    grid-column: 1 / 2;
    
}
.img:nth-child(2){
    grid-column: 2 / 3;
}
.img:nth-child(3){
    grid-column: 3 / 4;
}
.img:nth-child(4){
    grid-column: 1 / 2;
}
.img:nth-child(5){
    grid-column: 2 / 3;
}
.img:last-child{
    grid-column: 3 / 4;
    
}

.img>img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    
}