.container{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h1{
    font-size: 16px;
}
.left{
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    
}
.left-link{

}
.publications{
    display: flex;
    flex-direction: column;
    
}
.publications-left{
    display: flex;
    
}
.publications-left-avata{
    display: flex;
    align-items: center;
}
.publications-left-avata>h1{
    color: white;
    margin-left: -75px;
    font-size: 40px;
}
.publications-left-text{
    margin-top: 10px;
    margin-left: 40px;
    
}
.publications-left-text>p{
    margin-top: -5px;
}

.border-bottom{
    border-bottom: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
}
.right{
    width: 70%;
    height: 300px;
    padding-top: 20px;
    display: flex;
    
}
.right-border{
    background-color: black;
    width: 1px;
    height: 700px;
    margin-left: 20px;
    margin-right: 40px;
}

.right-avata{
    padding-top: 15px;
    display: flex;
    align-items: center;

}
.right-avata>span{
    padding-left: 10px;
    margin-right: 20px;
}
.right-comment{
    display: flex;
    flex-direction: column;

}
@media screen and (max-width: 992px) {
    .container{
        flex-direction: column-reverse;
    }
    .right-border{
        display: none;
    }
    .right{
        width: 100%;
        height: 100%;
    }
    .left{
        flex-direction: column;
        width: 100%;
    }
    
    
    
}