.container{
    
    margin-top: -10px;
    height: 8px;
    width: 500px;
    background-color: #FFAD00;

    
}
.body{
    font-family: 'Roboto', sans-serif;

    
    
}
.main-container{
    display: flex;
    flex-direction: column;
}
.boder{
    border: 1px solid #EDEDED;
    margin-top: 30px;
    margin-bottom: 30px;
}
ul{
    list-style: none;
    font-size: 8px;
    color: rgb(131, 131, 131);
    margin-left: -33px;
    margin-top: 20px;
}
ul li::before{
    color: #FFB500;
    content: "\25CB";
    display: inline-block;
    width: 1em;
    margin-left: -8px;
    
    
    
}
/* --------------top menu---------------------- */
.top-menu{
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
    

}
.top-menu-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu-left-icon{
    margin-top: 8px;
    margin-right: 7px;
    color: rgb(131, 131, 131);

}
.top-menu-left-text{
    font-size: 6px;
    margin-top: -3px;
    color: rgb(131, 131, 131);

}
.top-menu-left-text>p{
    margin-bottom: 2px;

}
.top-menu-center{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu-center-icon{
    margin-top: 8px;
    margin-right: 7px;
    color: rgb(131, 131, 131);

}
.top-menu-center-text{
    font-size: 6px;
    margin-top: -3px;
    color: rgb(131, 131, 131);

}
.top-menu-center-text>p{
    margin-bottom: 2px;

}
.top-menu-center-text>span{
    font-size: 4px;
    margin-top: -3px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;

}
.top-menu-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu-right-icon{
    margin-top: 8px;
    margin-right: 7px;
    color: rgb(131, 131, 131);

}
.top-menu-right-text{
    font-size: 6px;
    margin-top: -3px;
    color: rgb(131, 131, 131);

}
.top-menu-right-text>p{
    margin-bottom: 2px;
} 
.top-menu-right-text>span{
    margin-bottom: 2px;
    letter-spacing: 1px;
} 
/* --------------Author---------------------- */
.author{
    display: flex;
    width: 100%;
    
    

}
.author-avata{
    margin-top: 20px;
    margin-left: 20px;

}
.author-infor{
    margin-top: 15px;
} 
.author-infor-name{
    margin-left: 20px;
}
.author-infor-name>h3{
    font-size: 16px;
    margin-bottom: -7px;
}
.author-infor-name>span{
    font-size: 6px;
    color: rgb(131, 131, 131);
}

.author-infor-email{}
.author-infor-email>p{
    font-size: 5px;
    margin-left: 20px;
        
}
.author-infor-icon{
    margin-left: 20px;
    margin-top: -3px;
}
.download-cv{
    margin-left: 190px;
    margin-top: 20px;
    
    
    
}
.download-cv-button{
    font-size: 6px;
    background-color: #FFAD00;
    border: none;
    color: white;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 15px;
    border-radius: 1px;
    
    
}
/* --------------About me---------------------- */
.about-me{
    display: flex;
    justify-content: space-around;
}
.about-me-left{
    flex: 1;
    margin-left: 20px;

}
.about-me-left-bg{
    background-color: #FFAD00;
    width: 20px;
    height: 5px;
    border-radius: 2px;
    
}
.about-me-left-text{
    
}
.about-me-left-text>h1{
    margin-bottom: -8px;
    font-size: 16px;
}
.about-me-left-text>span{
    font-size: 7px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
}
.about-me-right{
    flex: 2;
    margin-left: -40px;
}
.about-me-right>p{
    font-size: 8px;
    color: rgb(131, 131, 131);
}
/* --------------work experience---------------------- */
.work-experience{
    display: flex;
    
}
.work-experience-left{
    flex: 1;
    margin-left: 20px;

}
.work-experience-left-bg{
    background-color: #FFAD00;
    width: 20px;
    height: 5px;
    border-radius: 2px;
    
}
.work-experience-left-text{
    
    
}
.work-experience-left-text>h1{
    margin-bottom: -8px;
    font-size: 14px;
    margin-left: -4px;
}
.work-experience-left-text>span{
    font-size: 7px;
    color: rgb(131, 131, 131);
    margin-left: -2px;
    letter-spacing: 1px;
}
.work-experience-right{
    flex: 2;
}    
.work-experience-right-junior{
    margin-left: -30px;
}
.work-experience-right-junior>h3{
    font-size: 8px;
    margin-bottom: 0px;
    margin-top: 13px;
}
.work-experience-right-junior>h4{
    font-size: 8px;
    color: #FFB500;
    margin-top: 4px;
    
}

.work-experience-right-junior>h5{
    font-size: 6px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    margin-top: -5px;
}
.work-experience-right-junior>p{
    color: rgb(131, 131, 131);
    font-size: 8px;
    margin: 0;
    
}


.work-experience-right-webmaster{
    margin-left: -30px;

}
.work-experience-right-webmaster>h3{
    font-size: 8px;
    margin-bottom: 0px;
    margin-top: 13px;
}
.work-experience-right-webmaster>h4{
    font-size: 8px;
    color: #FFB500;
    margin-top: 4px;
    
}

.work-experience-right-webmaster>h5{
    font-size: 6px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    margin-top: -5px;
}
.work-experience-right-webmaster>p{
    color: rgb(131, 131, 131);
    font-size: 8px;
    margin: 0;
    
}
/* --------------Education---------------------- */
.education{
    display: flex;
}
.education-left{
    flex: 1;
    
    
}
.education-left-bg{
    background-color: #FFAD00;
    width: 20px;
    height: 5px;
    border-radius: 2px;
    
}
.education-left>h3{
    margin-bottom: -8px;
    font-size: 18px;
    margin-top: 5px;
}
.education-left>span{
    font-size: 7px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    
}
.education-right{
    flex: 2;
    display: flex;
    margin-top: -5px;
    margin-left: -28px;
}
.education-right-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    
}
.education-right-circle{
    background-color: #FFAD00;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.education-right-circle>span{
    font-size: 12px;
    color: white;
    margin-top: 1px;
    font-weight: bold;
    
}
.education-right-border-column{
    background-color: #FFAD00;
    width: 1px;
    height: 80px;
    margin-left: 8.5px;
    margin-bottom: -20px
    
}
.education-right-border-column2{
    background-color: #FFAD00;
    width: 1px;
    height: 40px;
    margin-left: 8.5px;
    
}
.education-right-text{
    flex: 12;
    margin-top: 8px;
    margin-left: 5px;
}
.education-right-master-degree{
    margin-top: 10px;

}
.education-right-master-degree>h3{
    font-size: 13px;
    margin-bottom: 0px;
    
}
.education-right-master-degree>h4{
    font-size: 10px;
    color: #FFB500;
    margin-top: 4px;
}
.education-right-master-degree>h5{
    font-size: 8px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    margin-top: -5px;
}

.education-right-computer-science{
    margin-top: 50px;

}
.education-right-computer-science>h3{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 13px;
}
.education-right-computer-science>h4{
    font-size: 10px;
    color: #FFB500;
    margin-top: 4px;
}
.education-right-computer-science>h5{
    font-size: 8px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    margin-top: -5px;
}
.education-right-graduated{
    margin-top: 50px;

}
.education-right-graduated>h3{
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 13px;
}
.education-right-graduated>h4{
    font-size: 10px;
    color: #FFB500;
    margin-top: 4px;
}
.education-right-graduated>h5{
    font-size: 8px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    margin-top: -5px;
}   
/* --------------Technical Skill---------------------- */
.Technical-skill{
    display: flex;

} 
.Technical-skill-left{
    flex: 1;
    
}  
.Technical-skill-left-bg{
    background-color: #FFAD00;
    width: 20px;
    height: 5px;
    border-radius: 2px;
    
}
.Technical-skill-left-text{
    
}
.Technical-skill-left-text>h3{
    margin-bottom: -6px;
    font-size: 18px;
    margin-top: 5px;
    
}
.Technical-skill-left-text>span{
    font-size: 7px;
    color: rgb(131, 131, 131);
    letter-spacing: 1px;
    margin-left: 3px;
}
.Technical-skill-right{
    flex: 1;
    margin-top: -14px;
    

} 
/* --------------Technical Skill html-css---------------------- */
.Technical-skill-right-html-css3{}
.Technical-skill-right-html-css3>h1{
    font-size: 14px;
    margin-bottom: -2px;
    margin-top: 25px;
}
.Technical-skill-right-html-css3>h2{
    background-color: #FFAD00;
    width: 70px;
    height: 14px;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 8px;
    text-align: center;
    padding-top: 4px;
    color: white;
    margin-bottom: 25px;
    
}
.Technical-skill-right-html-css3>P{
    color: rgb(131, 131, 131);
    font-size: 8px;
}
.Technical-skill-right-html-css3>span{
    font-size: 8px;
}
.Technical-skill-right-html-row-color{
    background-color: #cecece;
    width: 320px;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 5px;
    margin-top: 5px;

}

.Technical-skill-right-html-row-color-orange{
    background-color: #FFAD00;
    width: 280px;
    height: 3px;
    border-radius: 1px;
    
}
.Technical-skill-right-css-row-color{
    background-color: #cecece;
    width: 320px;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.Technical-skill-right-css-row-color-orange{
    background-color: #FFAD00;
    width: 250px;
    height: 3px;
    border-radius: 1px;
    
    
}
/* --------------Technical Skill-gragraphic-design--------------------- */

.Technical-skill-right-graphic-design{}
.Technical-skill-right-graphic-design>h1{
    font-size: 13px;
    margin-bottom: -2px;
    margin-top: 25px;
}
.Technical-skill-right-graphic-design>h2{
    background-color: #FFAD00;
    width: 70px;
    height: 14px;
    font-size: 10px;
    letter-spacing: 1px;
    border-radius: 8px;
    text-align: center;
    padding-top: 4px;
    color: white;
    margin-bottom: 25px;
    
}
.Technical-skill-right-graphic-design>P{
    color: rgb(131, 131, 131);
    font-size: 8px;
}
.Technical-skill-right-graphic-design>span{
    font-size: 8px;
    
}
.Technical-skill-right-photoshop-row-color{
    background-color: #cecece;
    width: 320px;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 5px;

}
 
.Technical-skill-right-photoshop-row-color-orange{
    background-color: #FFAD00;
    width: 300px;
    height: 3px;
    border-radius: 1px;
    
}
.Technical-skill-right-illustrator-row-color{
    background-color: #cecece;
    width: 320px;
    height: 3px;
    border-radius: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.Technical-skill-right-illustrator-row-color-orange{
    background-color: #FFAD00;
    width: 230px;
    height: 3px;
    border-radius: 1px;
    
}
    


